/* admin-home.css */

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.text-center{
    font-weight:700;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.container {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.card {
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 90%;
}
.card:hover {
    transform: translateY(-5px);
}

.btn-primary {
    background-color: #ff935548;
    border-color: #2e180b;
}

.btn-primary:hover {
    background-color: #ff935548;
    border-color: #2e180b;
}

.navbar {
    background-color: #2e180b;
    color: #fff;
    text-decoration: none; /* Add this line to remove underline */
}

.nav-link {
    color: #fff !important;
    text-decoration: none !important; /* Add this line to remove underline */
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    color: #fff;
    transition: all 0.3s ease;
    position: fixed;
    background: linear-gradient(to bottom, #2e180b, #4e2a14);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    background: #212529;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    transition: all 0.3s;
    text-decoration: none; /* Add this line to remove underline */
}

#sidebar ul li a:hover {
    background: #5c3420;
    border-radius: 5px; /* Add rounded corners on hover */
}

#sidebar.active ul li a:hover {
    background: #3e2417;
    border-radius: 5px; /* Add rounded corners on hover */
}

#sidebar.active ul li.active > a,
#sidebar.active ul li a:hover {
    background: #3e2417;
    border-radius: 5px; /* Add rounded corners on hover */
}

#sidebar ul li.active > a {
    background-color: #ff935548;
    border-radius: 5px; /* Add rounded corners on active link */
}

#sidebar ul li.active > a:hover {
    background-color: #ff935548;
    border-radius: 5px; /* Add rounded corners on hover */
}

#content {
    width: 100%;
    padding: 15px;
    transition: all 0.3s;
    margin-left: 100px;
    text-decoration: none;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
        margin-left: 0;
        text-decoration: none;
    }
}


