/* Search Form Styles */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 100%; /* Adjust the width to your desired length */
    padding: 8px; /* Increase padding for more space */
    margin-top: 3%;
    border-radius: 25px; /* Rounded border */
    border: 2px solid #2e180b; /* Darker border color */
    font-size: 18px; /* Larger font size */
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #743a19; /* Darker border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-btn {
    background-color: #2e180b !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* Increase padding for larger button */
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Edit Product Popup Styles */
#editProductPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9998; /* Ensure it's below the popup container */
}

#editProductPopupContainer {
    max-width: 80%; /* Adjust the maximum width as needed */
    width: auto; /* Allow the container to expand based on content */
    max-height: 80%; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    z-index: 9999; /* Ensure it's above other content */
    
}


#editProductPopupContainer h2 {
    text-align: center;
    margin-bottom: 20px;
}

#editProductPopupContainer label {
    font-weight: bold;
}

#editProductPopupContainer input[type="text"],
#editProductPopupContainer input[type="number"],
#editProductPopupContainer textarea,
#editProductPopupContainer select {
    width: calc(100% - 22px); /* Adjust for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

#editProductPopupContainer textarea {
    resize: vertical;
}

#editProductPopupContainer button {
    width: 100%;
    background-color: #2e180b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#editProductPopupContainer button:hover {
    background-color: #743a19;
}

/* Add this to disable scrolling when the popup is open */
body.popup-open {
    overflow: hidden;
}