body {
    background-color:rgba(255, 228, 196, 0.466);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size: cover;
    position: static;
    color: bisque;
    margin: 0;
}
#logoLink
{
    text-decoration: none;
    color: bisque;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Center the items within the header */
    font-size:130%;
}

.logo a {
    text-decoration: none;
    color: bisque;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Allow the search bar to take up available space */
    padding-left: 5%;
}

.search-input {
    padding: 5px; /* Adjusted padding */
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px; /* Adjusted font size */
    width: 40%; /* Take up all available space */
}

.search-btn {
    padding: 12px 15px; /* Adjusted padding */
    border-radius: 0 5px 5px 0;
    background-color: rgba(255, 228, 196, 0.397);
    color: #fff;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size */
    background: url('searchBtn.png') no-repeat center;
    background-size: 60%;
    border-color: rgba(255, 228, 196, 0.637);
}

.cart-icon img {
    width: 19px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left:13.5cm; /* Adjust the margin to create space between the search button and cart icon */
    margin-bottom: 6px;
}

.user-icon img {
    width: 19px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left:0.6cm; /* Adjust the margin to create space between the search button and cart icon */
    margin-bottom: 3px;
}

header {
    background-color: #2e180b;
    color: bisque;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    padding-left: 5%;
}

/* Add media query for responsiveness */
@media screen and (max-width: 600px) {
    .search-input,
    .search-btn {
        font-size: 12px; /* Adjusted font size for smaller screens */
    }
}


/* Add a black background color to the top navigation */
.topnav {
    background-color:#2e180b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:rgba(255, 228, 196, 0.459);
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:rgba(255, 228, 196, 0.24);
    color: white;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 228, 196, 0.459);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 2;
    top: 60px; 
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
