body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}
.table-striped thead tr th {
    color:black;
}
.table th {
    background-color: #007bff;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.table-striped tbody tr:hover {
    background-color: #e9ecef;
}


.search-container {
    position: sticky;
    top: 0;
    z-index: 999; /* Ensure it's above other content */
    background-color: white; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
}
.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.search-input:focus {
    border-color: #743a19; /* Darker border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-btn {
    background-color: #2e180b !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px; /* Increase padding for larger button */
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
